portalNSDenise/src/ConsultaCEP_remote.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://das.ufsc.br/ConsultaCEP/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ConsultaCEP" targetNamespace="http://das.ufsc.br/ConsultaCEP/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://das.ufsc.br/ConsultaCEP/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://das.ufsc.br/ConsultaCEP/">
      
  <xsd:element name="consultarCEP">
        
    <xsd:complexType>
          
      <xsd:sequence>
          	
        <xsd:element name="cep" type="xsd:string"/>
          	
        <xsd:element name="Nome" type="xsd:string"/>
          	
        <xsd:element name="Email" type="xsd:string"/>
          	
        <xsd:element name="Cartao" type="xsd:string"/>
          	
        <xsd:element name="CartaoVenc" type="xsd:string"/>
          	
        <xsd:element name="qdtReatorArk" type="xsd:string"/>
          	
        <xsd:element name="qdtReatorSolar" type="xsd:string"/>
          	
        <xsd:element name="qdtRoboMedico" type="xsd:string"/>
          	
        <xsd:element name="qdtRoboSeguranca" type="xsd:string"/>
          	
        <xsd:element name="qdtRoboDomestico" type="xsd:string"/>
          
      </xsd:sequence>
        
    </xsd:complexType>
      
  </xsd:element>
      
  <xsd:element name="consultarCEPResponse">
        
    <xsd:complexType>
          
      <xsd:sequence>
            
        <xsd:element name="informacaoCEP" type="tns:InformacaoCEP"/>
          
      </xsd:sequence>
        
    </xsd:complexType>
      
  </xsd:element>
    
      
  <xsd:complexType name="InformacaoCEP">
      	
    <xsd:sequence>
      		
      <xsd:element name="cep" type="xsd:string"/>
      		
      <xsd:element name="endereco" type="xsd:string"/>


      		
      <xsd:element name="Estado" type="xsd:string"/>
      		
      <xsd:element name="NewElement3" type="xsd:string"/>
      		
      <xsd:element name="NewElement2" type="xsd:string"/>
      		
      <xsd:element name="NewElement1" type="xsd:string"/>
      		
      <xsd:element name="NewElement" type="xsd:string"/>
      		
      <xsd:element name="BrRobotic" type="xsd:string"/>
      		
      <xsd:element name="BrRobotic1" type="xsd:string"/>
      		
      <xsd:element name="BrRobotic2" type="xsd:string"/>
      	
    </xsd:sequence>
      
  </xsd:complexType>
    
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="errorResponse">
    <wsdl:part name="error" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCEPRequest">
    <wsdl:part element="tns:consultarCEP" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCEPResponse">
    <wsdl:part element="tns:consultarCEPResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ConsultaCEP">
    <wsdl:operation name="consultarCEP">
      <wsdl:input message="tns:consultarCEPRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarCEPResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaCEPSOAP" type="tns:ConsultaCEP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarCEP">
      <soap:operation soapAction="http://das.ufsc.br/ConsultaCEP/consultarCEP"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaCEP">
    <wsdl:port binding="tns:ConsultaCEPSOAP" name="ConsultaCEPSOAP">
      <soap:address location="http://localhost:8080/ConsultaCEP/ConsultaCEP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>